.acad{
    width:600px;
    border-radius:50px;
    text-align: center;
    margin-bottom:30px
}
#marqueeStyle{
    text-decoration: underline;
    border:5px solid aqua;
    text-decoration-color: chocolate;
    background-color: lightsalmon;
}

#imformation{
    margin-top:80px;
}
#acadamic_curriculum{
    background-color: white;
}
 #img1{
    margin-top:30px;
}
#evalution_and_promotions{
    background-color: white;
}